<!--<div class="wishlist-page">-->
<!--  <h1><%#= @user.name %>'s Wish List</h1>-->

<!--  <div class="wishlist-items">-->
    <%# @wishlist_items.each do |item| %>
<!--      <div class="wishlist-item">-->
<!--        <h3><%#= item.item_name %></h3>-->
<!--        <p class="cost">$<%#= item.cost %></p>-->
<!--        <p class="notes"><%#= item.notes %></p>-->
<!--      </div>-->
    <%# end %>
<!--  </div>-->
<!--</div>-->